// Imports

@import url('../fonts/BebasNeue/stylesheet.css');

// Variables

$light-grey: #f2f2f2;
$grey: #9a9a9a;
$dark-grey: #575757;
$red: #ed3939;
$pink: #f36665;
$black: #101010;

// Common

* {
    outline: none;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #f2f2f2;
}

p {
    line-height: 150%;
    color: $dark-grey;
}

h1,
h2,
h3,
h4 {
    color: $black;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 17px;
}

.container {
    max-width: 1200px !important;
}

button {
    cursor: pointer;
}

// Icons

.icon_phone {
    &::before {
        padding: 4px 7px 4px 7px;
        margin-right: 5px;
        content: url("../img/phone.png");
        border: 1px solid #e3e3e3;
        border-radius: 50%;
    }

    &-bigger::before {
        padding: 10px 12px 9px 12px;
        margin-right: 5px;
        content: url("../img/phone_bigger.png");
        border: 1px solid #e3e3e3;
        border-radius: 50%;
    }
}

.icon_mail {
    &::before {
        padding: 3px 7px 4px 7px;
        margin-right: 5px;
        content: url("../img/mail.png");
        border: 1px solid #e3e3e3;
        border-radius: 50%;
    }

    &-bigger::before {
        padding: 10px 12px 9px 12px;
        margin-right: 5px;
        content: url("../img/mail_bigger.png");
        border: 1px solid #e3e3e3;
        border-radius: 50%;
    }
}

.icon_clock {
    &::before {
        padding: 10px 12px 9px 12px;
        margin-right: 5px;
        content: url("../img/clock.png");
        border: 1px solid #e3e3e3;
        border-radius: 50%;
    }
}

.icon_bomb::before {
    margin-right: -12px;
    margin-left: -28px;
    content: url("../img/bomb.png");
}

.icon_fire::before {
    margin-right: -5px;
    margin-left: -20px;
    content: url("../img/fire.png");
}

.icon_metal::before {
    margin-right: -10px;
    margin-left: -20px;
    content: url("../img/metal.png");
}

.icon_geo::before {
    padding: 10px 12px 9px 11px;
    margin-right: 5px;
    content: url("../img/geo.png");
    border: 1px solid #e3e3e3;
    border-radius: 50%;
}

// Header

.header {
    margin-top: 30px;

    .container {
        position: relative;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__main-page-link {
        z-index: 1050;
    }

    // Navigation main page

    .nav {
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-left: 30px;

        &__menu {
            display: none;
            align-items: center;
            justify-content: space-between;
            width: 500px;
        }

        &__contacts {
            position: relative;
            z-index: 1160;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 300px;
            margin-left: 30px;

            &-item {
                font-size: 14px;
                font-weight: bold;
                color: $grey;
                text-decoration: none;
                transition: all 0.2s;

                &:hover {
                    color: $red;
                }
            }
        }

        a {
            font-size: 14px;
            color: $grey;
            text-decoration: none;
            transition: all 0.2s;

            &:hover {
                color: $red;
            }
        }
    }
}

.main-page {
    .header__inner {
        position: absolute;
        width: calc(100% - 30px);
    }

    .nav__menu {
        display: flex;
    }
}

// Navigation all pages

.nav__second {
    margin-top: 30px;
    background-color: $dark-grey;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
    }

    &-item {
        font-size: 13px;
        color: #fff;
        text-decoration: none;
        transition: all 0.2s;

        &:hover {
            color: $grey;
        }
    }
}

// Burger menu

.burger {
    position: relative;
    left: -10px;
    z-index: 1050;
    display: none;
    width: 29px;
    height: 29px;
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;

    &__item {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        width: 27px;
        height: 4.5px;
        margin: auto;
        background-color: $grey;
        border-radius: 10px;
        transition: all ease-in-out 0.2s;

        &::before {
            position: absolute;
            top: -10px;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            height: 4.5px;
            content: "";
            background-color: $grey;
            border-radius: 10px;
            transition: transform ease-in-out 0.3s;
        }

        &::after {
            position: absolute;
            top: 10px;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            height: 4.5px;
            content: "";
            background-color: $grey;
            border-radius: 10px;
            transition: transform ease-in-out 0.3s;
        }
    }

    &.active {
        .burger__item {
            background-color: transparent;
            transition: transform, background-color ease-in-out 0.3s;

            &::before {
                background-color: #d4d4d4;
                transition: transform ease-in-out 0.3s;
                transform: rotate(45deg) translate(5px, 9px);
            }

            &::after {
                background-color: #d4d4d4;
                transition: transform ease-in-out 0.3s;
                transform: rotate(-45deg) translate(5px, -9px);
            }
        }
    }
}

// Breadcrumbs

.breadcrumbs {
    padding-top: 20px;
    padding-bottom: 50px;

    &__item {
        font-weight: bold;
        color: $dark-grey;
        text-decoration: none;

        &::after {
            position: relative;
            top: 3px;
            display: inline-block;
            width: 2px;
            height: 16px;
            margin: 0 16px;
            content: "";
            background-color: #858585;
        }

        &-active {
            font-weight: bold;
            color: $pink;
            border-bottom: 1px solid rgba(243, 102, 101, 0.5);
        }
    }
}

/* Main page */

// Intro

.intro {
    .container {
        position: relative;
    }

    &__extinguisher {
        position: absolute;
        top: 61vh;
        left: 0;
        z-index: 999;
    }

    &__catalogue-link {
        position: relative;
        bottom: 250px;
        z-index: 1000;
        display: block;
        width: 290px;
        font-size: 20px;
        color: $grey;
        text-decoration: none;
        transition: all 0.2s;

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            display: block;
            width: 7px;
            height: 2px;
            content: "";
            background-color: $grey;
        }

        &::before {
            right: 4px;
            transform: rotate(45deg);
        }

        &::after {
            right: 0;
            transform: rotate(-45deg);
        }

        &:hover {
            color: $red;

            &::before,
            &::after {
                background-color: $red;
            }
        }
    }

    &__slider {
        .item {
            height: 1050px;
        }

        .slide_1 {
            background: url("../img/intro_door.png") right no-repeat;
            background-size: contain;

            &__text {
                position: absolute;
                top: 250px;
                width: 500px;
                font-family: "Bebas Neue", sans-serif;
                font-size: 120px;
                font-weight: bold;
                line-height: 0.93;
                letter-spacing: 0.8px;

                &-2 {
                    color: $red;
                }
            }
        }

        .slide_2 {
            background: url("../img/intro_door.png") right no-repeat;
            background-size: contain;

            &__text {
                position: absolute;
                top: 250px;
                left: -67px;
                width: auto !important;
            }
        }
    }
}

// Section

.section {
    padding: 120px 0;

    &-title {
        text-align: center;
    }
}

// Catalogue

.catalogue {
    margin-top: -200px;
}

// Categories

.category {
    margin-top: 50px;

    &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2 {
            font-size: 24px;
            color: #3d3b3b;
        }
    }

    &-item {
        max-width: 270px;
        height: 390px;
        margin: 15px auto;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 30px 0 rgba(150, 150, 150, 0.1);
        transition: all 0.2s;

        &__img {
            margin: 30px 30px 0 30px;
            border-radius: 10px;
        }

        &__name {
            font-size: 18px;
            font-weight: bold;
            color: #3d3b3b;
            text-align: center;
        }

        &__link {
            position: relative;
            display: block;
            margin-top: 30px;
            font-size: 12px;
            color: $grey;
            text-align: center;
            text-decoration: none;

            &::before {
                position: absolute;
                top: 5px;
                right: 30px;
                display: block;
                width: 6px;
                height: 1px;
                content: "";
                background-color: $grey;
                transform: rotate(45deg);
            }

            &::after {
                position: absolute;
                right: 30px;
                bottom: 4px;
                display: block;
                width: 6px;
                height: 1px;
                content: "";
                background-color: $grey;
                transform: rotate(-45deg);
            }
        }

        &:hover {
            box-shadow: 2px 2px 30px 0 rgba(150, 150, 150, 0.4);
            transform: translateY(-10px);

            .category-item__link {
                color: $red;

                &::before,
                &::after {
                    background-color: $red;
                }
            }
        }
    }
}

// About

.about {
    max-height: 800px;
    padding-top: 50px;
    padding-bottom: 150px;
    line-height: 1.5;
    background: url("../img/about_bg.png") 100% no-repeat;
    background-color: #000;
    background-size: cover;

    &__inner {
        max-width: 420px;
        margin-left: 100px;
    }

    &__title {
        color: #fff;
    }

    &__text {
        margin-top: -20px;
        font-size: 18px;
        color: $grey;
    }

    .button_more {
        padding: 20px 40px;
        margin-top: 50px;
        font-family: "Helvetica Cyr", sans-serif;
        font-size: 16px;
        color: #dedede;
        background: transparent;
        border: 2px solid #a63333;
        border-radius: 5px;
        transition: all 0.1s;

        &:hover {
            box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.5);
        }
    }
}

// Feedback

.feedback__slider {
    .item {
        min-width: 370px;
        min-height: 520px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 30px 0 rgba(150, 150, 150, 0.3);
    }

    .owl-dots {
        margin-top: 40px !important;

        .owl-dot {
            span {
                background-color: #c9c9c9 !important;
            }

            &.active span {
                background-color: $red !important;
            }
        }
    }

    .owl-stage-outer {
        box-shadow: 0 1px 30px 0 rgba(150, 150, 150, 0.25);
    }
}

// Contacts

.contacts {
    padding-top: 100px;
    padding-bottom: 0;
    margin-top: -100px;

    .yandex_map_desktop {
        height: 800px;
    }

    .container {
        position: relative;
    }

    &__block {
        position: absolute;
        top: -650px;
        width: 570px;
        height: 530px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 10px 45px 0 rgba(50, 50, 50, 0.2);

        &-inner {
            position: relative;
            padding: 10px 50px;
        }
    }

    &__title {
        text-align: center;
    }

    &-item {
        padding-bottom: 30px;

        i::before {
            background-size: 2000%;
        }

        a {
            margin-left: 10px;
            font-size: 14px;
            font-size: 18px;
            font-weight: bold;
            color: #5e5e5e;
            text-decoration: none;
            transition: all 0.2s;
        }
    }

    &__button {
        position: absolute;
        right: 0;
        left: 0;
        width: 230px;
        padding: 20px;
        margin: 0 auto;
        font-family: "Helvetica Cyr", sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: $pink;
        text-align: center;
        background-color: #fff;
        border: 2px solid $pink;
        border-radius: 5px;
        transition: all 0.2s;

        &:hover {
            box-shadow: 0 5px 20px 0 rgba(50, 50, 50, 0.3);
        }
    }
}

// Blocks

.block {
    &-row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-right: -15px;
        margin-left: -15px;
    }

    &-inner {
        position: relative;
        padding: 18px;
        margin: 15px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 30px 0 rgba(150, 150, 150, 0.1);
    }
}

/* About company page */

.about-company {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &-title {
            text-align: left;
        }
    }

    // Intro

    &__intro {
        .block-row {
            justify-content: space-evenly;
        }

        &-img {
            width: 170px;
        }
    }

    // Video

    &__video {
        &-slider {
            max-width: 1030px;
            margin: 0 auto;

            .owl-stage-outer {
                margin: 0 auto;
            }

            .item {
                max-width: 500px;
                margin: 0 auto;
            }

            .owl-prev,
            .owl-next {
                position: absolute;
                top: 50%;

                span {
                    display: none;
                }

                &::before,
                &::after {
                    position: absolute;
                    display: block;
                    width: 15px;
                    height: 2px;
                    content: "";
                    background-color: $dark-grey;
                }

                &::before {
                    top: 4px;
                    transform: rotate(-45deg);
                }

                &::after {
                    bottom: 4px;
                    transform: rotate(45deg);
                }
            }

            .owl-prev {
                left: -60px;
                transform: rotate(180deg);
            }

            .owl-next {
                right: -60px;
            }
        }
    }

    // Advantages

    &__advantages {
        .block {
            &-row {
                justify-content: center;
            }

            &-wrapper {
                flex-basis: 25%;
            }

            &-inner {
                max-width: 270px;
                height: 230px;
                padding-top: 50px;
                margin-right: auto;
                margin-left: auto;
                text-align: center;

                p {
                    font-weight: bold;
                }
            }
        }
    }

    .contacts {
        margin-top: 0;
    }
}

/* Catalogue page */

.catalogue-page .catalogue {
    padding-top: 0 !important;
    margin-top: 0;
}

/* Products */

.product {
    &-card {
        &__categories {
            &-title {
                margin-top: 0;
            }
        }

        &-category {
            position: relative;
            font-size: 17px;
            font-weight: bold;
            color: $black;
            cursor: pointer;

            &::before,
            &::after {
                position: absolute;
                top: 50%;
                display: block;
                width: 9px;
                height: 2px;
                content: "";
                background-color: $grey;
                transition: all 0.2s;
            }

            &::before {
                right: 5px;
                transform: rotate(45deg);
            }

            &::after {
                right: 0;
                transform: rotate(-45deg);
            }

            &.active {
                &::before {
                    transform: rotate(-45deg);
                }

                &::after {
                    transform: rotate(45deg);
                }
            }

            &__list {
                display: none;
                padding-left: 15px;
                list-style: none;

                &-item {
                    height: inherit;
                    margin-bottom: 7px;

                    a {
                        height: inherit;
                        font-weight: bold;
                        color: $dark-grey;
                        text-decoration: none;
                        transition: all 0.2s;

                        &:hover {
                            color: $pink;
                        }
                    }
                }

                &.active {
                    display: block;
                }
            }
        }

        &__name {
            margin-top: 0;
            line-height: 0.9;
        }

        &__product {
            .block-inner {
                width: 100%;
                height: 290px;
                margin: 0;
            }
        }

        &__img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

        &__description {
            margin-top: 91px;
        }

        &__images {
            margin-top: 30px;

            .block {
                &-inner {
                    height: 292px;
                    margin: 15px 0;
                }
            }
        }
    }

    .contacts {
        padding-bottom: 100px;

        &__block {
            position: static;
            height: 480px;
            margin: 0 auto;
        }

        &__form {
            &-title {
                margin-top: 55px;
                margin-bottom: 50px;
                font-size: 22px;
                font-weight: bold;
                color: $black;
                text-align: center;
            }

            &-input {
                width: 100%;
                height: 50px;
                padding-left: 15px;
                margin-top: 15px;
                font-size: 17px;
                color: $dark-grey;
                border: 1px solid $grey;

                &::placeholder {
                    font-weight: bold;
                }
            }

            &-agree {
                display: block;
                margin: 20px 0 30px 0;
                font-size: 13px;
                color: $dark-grey;
                text-align: center;

                &-text {
                    position: relative;

                    &::before {
                        position: relative;
                        left: -5px;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        margin: auto;
                        content: "";
                        border: 1px solid $pink;
                    }
                }

                &-radio {
                    display: none;

                    &:checked + .contacts__form-agree-text::before {
                        background: url("../img/checked.png") center no-repeat;
                    }
                }
            }
        }
    }
}

// Footer

.footer {
    display: flex;
    align-items: center;
    min-height: 120px;
    font-size: 14px;
    color: $grey;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__made_by {
        display: flex;
        align-items: center;
        color: $grey;

        span {
            margin-right: 10px;
        }
    }
}

// Media

@media (max-width: 1700px) {
    .slide_1,
    .slide_2 {
        background-position-x: 130% !important;
    }
}

@media (max-width: 1600px) {
    .slide_1,
    .slide_2 {
        background-position-x: 300px !important;
    }

    .intro__catalogue-link {
        left: 5%;
    }
}

@media (max-width: 1500px) {
    .slide_1,
    .slide_2 {
        background-position-x: 150px !important;
        background-position-y: -10px !important;

        &__text {
            top: 150px !important;
        }
    }

    .intro__catalogue-link {
        bottom: 400px;
        left: 10%;
    }

    .catalogue {
        margin-top: -250px;
    }

    .contacts {
        background-position-x: 40%;
    }
}

@media (max-width: 1300px) {
    .slide_1__text {
        left: 50px;
    }

    .slide_2__text {
        left: -30px !important;
    }

    .intro__catalogue-link {
        left: 15%;
    }

    .catalogue {
        margin-top: -350px;
    }
}

@media (max-width: 1200px) {
    .nav {
        flex-direction: column;
        align-items: flex-end;

        &__menu {
            margin-bottom: 10px;
        }
    }

    .intro__extinguisher {
        top: 470px;
        width: 150px;
    }

    .slide_1,
    .slide_2 {
        background-position-y: 10px !important;
    }

    .slide_1__text {
        font-size: 110px !important;
        line-height: 0.93 !important;
    }

    .slide_2__text {
        top: 120px !important;
        left: -67px !important;
        transform: scale(0.9);
    }

    .category-list {
        flex-direction: column;
    }

    .intro__catalogue-link {
        bottom: 450px;
    }

    .catalogue {
        margin-top: -400px;
    }

    .about-company__video-slider {
        max-width: 830px;

        .item {
            max-width: 400px;

            iframe {
                max-width: 400px;
            }
        }

        .owl-prev {
            left: -30px;
        }

        .owl-next {
            right: -30px;
        }
    }

    .about-company__advantages .block {
        &-row {
            justify-content: center;
        }

        &-wrapper {
            flex-basis: 50%;
        }
    }

    .product .contacts__block {
        width: auto;
    }
}

@media (max-width: 1100px) {
    .slide_1,
    .slide_2 {
        background-position-y: 20px !important;
    }

    .intro__catalogue-link {
        bottom: 500px;
    }

    .catalogue {
        margin-top: -470px;
    }
}

@media (max-width: 1000px) {
    .slide_1,
    .slide_2 {
        background-position-y: 20px !important;
    }

    .slide_1__text {
        font-size: 100px !important;
    }

    .slide_2__text {
        top: 105px !important;
        left: -95px !important;
        transform: scale(0.8);
    }

    .intro {
        &__catalogue-link {
            bottom: 550px;
            left: 10%;
        }

        &__extinguisher {
            top: 450px;
            width: 130px;
        }
    }

    .catalogue {
        margin-top: -550px;
    }

    .contacts {
        background-position-x: 45%;
    }
}

@media (max-width: 992px) {
    .about-company__video-slider {
        max-width: 500px;

        .item {
            max-width: 500px;

            iframe {
                max-width: 500px;
            }
        }
    }

    .product {
        &-card {
            &-category {
                &::before,
                &::after {
                    right: auto;
                }

                &::before {
                    left: 250px;
                }

                &::after {
                    left: 255px;
                }
            }

            &__name {
                margin-top: 20px;
            }
        }

        .contacts__block {
            width: 570px;
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 900px) {
    .slide_1,
    .slide_2 {
        background-position-x: 110px !important;
    }

    .slide_1__text {
        width: 290px !important;
        font-size: 80px !important;
    }

    .slide_2__text {
        top: 75px !important;
        left: -145px !important;
        transform: scale(0.65);
    }

    .intro {
        &__extinguisher {
            top: 400px;
            width: 120px;
        }

        &__catalogue-link {
            bottom: 420px;
            left: 0;
            margin: 0 auto;
        }
    }

    .catalogue {
        margin-top: -550px;
    }

    .footer__copyright {
        width: 170px;
    }

    .contacts__block {
        width: 470px;
    }
}

@media (max-width: 850px) {
    .nav {
        &__menu,
        &__contacts {
            width: 100% !important;
        }

        &__contacts {
            justify-content: flex-end !important;

            &-item {
                margin-left: 24px;
            }
        }
    }
}

@media (max-width: 800px) {
    .slide_1,
    .slide_2 {
        background-position-y: 30px !important;
    }

    .slide_1__text {
        font-size: 70px !important;
    }

    .slide_2__text {
        top: 50px !important;
        left: -165px !important;
        transform: scale(0.6);
    }

    .intro__catalogue-link {
        bottom: 470px;
    }

    .catalogue {
        margin-top: -600px;
    }
}

@media (max-width: 768px) {
    .main-page {
        .nav {
            z-index: 1000 !important;

            &__menu {
                position: absolute;
                top: -30px;
                left: -15px;
                z-index: 1150 !important;
                display: flex;
                flex-direction: column;
                align-items: flex-start !important;
                width: 370px !important;
                padding: 130px 50px 30px 30px;
                margin: 0 !important;
                background-color: #f2f2f2;
                box-shadow: 2px 4px 30px 0 rgba(100, 100, 100, 0.4);
                transition: all 0.2s ease-in-out;
                transform: translateX(-110%);
                transform-origin: left;

                &-item {
                    margin-top: 15px;
                }

                &.active {
                    transform: translateX(0);
                }
            }

            &__contacts {
                margin-left: 0 !important;
            }
        }

        .burger {
            display: block;
        }
    }

    .product {
        &-card {
            &__description {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 700px) {
    .nav__contacts {
        flex-direction: column;
        align-items: flex-end !important;

        &-item {
            margin-top: 7px;
            margin-bottom: 7px;
            margin-left: 0;
        }
    }

    .slide_1,
    .slide_2 {
        background-position-x: 90px !important;
        background-position-y: 60px !important;
    }

    .slide_1__text {
        font-size: 60px !important;
    }

    .slide_2__text {
        top: 30px !important;
        left: -200px !important;
        transform: scale(0.5);
    }

    .about__inner {
        margin: 0 auto;
    }

    .intro {
        &__extinguisher {
            top: 360px;
            width: 120px;
        }

        &__catalogue-link {
            bottom: 500px;
        }
    }

    .catalogue {
        margin-top: -630px;
    }

    .contacts__block {
        width: 370px;
    }

    .footer .sphinx_logo {
        width: 150px;
    }
}

@media (max-width: 600px) {
    .sphinx_logo {
        width: 225px;
    }

    .nav__menu {
        width: 320px !important;
    }

    .slide_1,
    .slide_2 {
        background-position-x: 70px !important;
        background-position-y: 70px !important;
    }

    .slide_1__text {
        left: 30px !important;
        font-size: 50px !important;
    }

    .slide_2__text {
        top: 10px !important;
        left: -250px !important;
        transform: scale(0.43);
    }

    .intro {
        &__extinguisher {
            top: 320px;
            width: 100px;
        }

        &__catalogue-link {
            bottom: 570px;
        }
    }

    .catalogue {
        margin-top: -700px;
    }

    .footer {
        &__inner {
            flex-direction: column;
            margin: 30px 0;

            span {
                margin-top: 15px;
            }
        }

        &__made_by span {
            padding-bottom: 14px;
        }
    }

    .about-company__video-slider {
        max-width: 400px;

        .item {
            max-width: 400px;

            iframe {
                max-width: 400px;
            }
        }
    }

    .product .contacts__block {
        width: auto;
    }
}

@media (max-width: 575px) {
    .yandex_map_mobile {
        height: 500px;
    }

    .contacts .container {
        position: static;
    }

    .contacts__block {
        position: static;
        margin: 230px auto 0 auto;
    }

    .about-company__advantages .block-wrapper {
        flex-basis: 100%;
    }
}

@media (max-width: 500px) {
    .header {
        margin-top: 15px;

        .nav {
            margin-left: 0;

            &__menu {
                width: calc(100vw + 15px) !important;
                min-width: 0;
            }
        }
    }

    .burger {
        margin-right: 0;
    }

    .sphinx_logo {
        width: 190px;
    }

    .section-title {
        font-size: 50px;
    }

    .slide_1,
    .slide_2 {
        background-position-x: 50px !important;
        background-position-y: 50px !important;
    }

    .slide_1__text {
        top: 100px !important;
        left: 15px !important;
        width: 200px !important;
        font-size: 40px !important;
    }

    .slide_2__text {
        top: -55px !important;
        left: -285px !important;
        transform: scale(0.33);
    }

    .intro {
        &__extinguisher {
            top: 240px;
            width: 90px;
        }

        &__catalogue-link {
            bottom: 660px;
            width: 190px;
            font-size: 12px;
        }
    }

    .catalogue {
        margin-top: -800px;
    }

    .about-company__video-slider {
        max-width: 300px;

        .item {
            max-width: 300px;

            iframe {
                max-width: 300px;
            }
        }
    }

    .product .contacts {
        &__form {
            &-title {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 400px) {
    .nav {
        z-index: 1000 !important;

        &__menu {
            position: absolute;
            top: -30px;
            left: -15px;
            z-index: 1150 !important;
            display: flex !important;
            flex-direction: column;
            align-items: flex-start !important;
            width: 370px !important;
            padding: 130px 50px 30px 30px;
            margin: 0 !important;
            background-color: #f2f2f2;
            box-shadow: 2px 4px 30px 0 rgba(100, 100, 100, 0.4);
            transition: all 0.2s ease-in-out;
            transform: translateX(-110%);
            transform-origin: left;

            &-item {
                margin-top: 15px;
            }

            &.active {
                transform: translateX(0);
            }
        }

        &__contacts {
            margin-left: 0 !important;
        }

        &__second {
            display: none;
        }
    }

    .sphinx_logo {
        width: 130px;
    }

    .burger {
        display: block;
        margin-right: -5px;
        transform: scale(0.8);
    }

    .header {
        margin-top: 10px;

        .nav {
            &__contacts-item {
                margin-right: -10px;
                margin-left: 10px !important;
                font-size: 12px !important;
            }
        }
    }

    .slide_1,
    .slide_2 {
        background-position-x: 40px !important;
        background-position-y: 60px !important;
    }

    .slide_1__text {
        width: 150px !important;
        font-size: 30px !important;
    }

    .slide_2__text {
        top: -80px !important;
        left: -310px !important;
        transform: scale(0.26);
    }

    .intro {
        &__extinguisher {
            top: 200px;
            width: 60px;
        }

        &__catalogue-link {
            bottom: 700px;
        }
    }

    .catalogue {
        margin-top: -850px;
    }

    .feedback__slider .item {
        min-width: 0;
    }

    .contacts {
        &__block {
            width: auto;

            &-inner {
                padding: 10px 25px;
            }
        }

        &-item a {
            font-size: 16px;
        }
    }

    .about-company__video-slider {
        max-width: 260px;

        .item {
            max-width: 260px;

            iframe {
                max-width: 260px;
            }
        }

        .owl-prev {
            left: -15px;
        }

        .owl-next {
            right: -15px;
        }
    }
}

// Fonts

@font-face {
    font-family: "Helvetica Cyr";
    src: url("../fonts/Helvetica/HelveticaCyr-Upright.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica Cyr";
    src: url("../fonts/Helvetica/HelveticaCyr-Bold.otf");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Helvetica Cyr";
    src: url("../fonts/Helvetica/HelveticaCyr-Inclined.otf");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Helvetica Cyr";
    src: url("../fonts/Helvetica/HelveticaCyr-BoldInclined.otf");
    font-style: italic;
    font-weight: bold;
}
